<h1 class="text-center">コメント一覧</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>投稿ユーザー</th>
        <th>本文</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |c| %>
        <tr class="moves-contents" onclick='window.location="/admin/comments/<%= c.id %>"' role="link">
          <td><%= c.id %></td>
          <td><%= c.user.name %></td>
          <td><%= c.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>