<h3 class="text">フォロワー一覧</h3>
<div class="row">
  <% if users.exists? %>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td>フォロー数：    <%= u.followings.count %></td>
            <td>フォロワー数：  <%= u.followers.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  <% else %>
    <p class="text">あなたをフォローしているユーザーはいません。</p>
  <% end %>
</div>