<h1 class="text-center pt-3">投稿編集画面</h1>
<%= form_with model: @post, url: public_post_path, local: true do |f| %>
  <div class="form-group text-center">
    <%= f.label :"本文",class: "col-12" %>
    <%= f.text_area :body,class: "col-10 offset-1 col-md-6 col-lg-5" %>
  </div>
  <div class="action">
    <%= f.submit "編集する",class: "btn btn-primary col-6 offset-3 col-md-2 offset-md-5" %>
  </div>
<% end %>