<h1 class ="text-center m-3">投稿一覧</h1>
<%= link_to new_public_post_path,class: "text-primary btn offset-6 offset-md-10" do %>
  <i class="far fa-square-plus"></i>投稿する</h4><% end %>
<% if @posts.exists? %>
  <%= render "public/shared/post_list",posts: @posts %>
<% else %>
  <div class="col-12 p-5">
    <p class="text-muted text-center">投稿がありません。何か投稿してみよう！</p>
  </div>
<% end %>