<h2 class="text-center">新規投稿</h2>
<div class="row justify-content-center">
  <%= form_with model: @post, url: public_posts_path,method: :post, local: true do |f| %>
  <div class="col-5 pt-2 form-group">
    <%= f.label :"本文",class: "text-center" %>
    <%= f.text_area :body,size: "30x3" %>
  </div>
  <div class="col-5 action">
    <%= f.submit "投稿する",class: "btn btn-primary" %>
  </div>
  <% end %>
</div>