<h2 class="text-center pt-3">新規投稿</h2>
<%= form_with model: @post, url: posts_path,method: :post, local: true do |f| %>
<div class="text-center form-group">
  <%= f.label :"本文",class: "col-12" %>
  <%= f.text_area :body,class: "col-10 offset-1 col-md-6 col-lg-5" %>
</div>
<div class="action">
  <%= f.submit "投稿する",class: "btn btn-primary col-6 offset-3 col-md-2 offset-md-5" %>
</div>
<% end %>