@import '~bootstrap/scss/bootstrap';

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

#modal-f .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
#modal-f .close {
  color: #fff;
  opacity: 1;
}
#modal-f .modal-body {
  width: 75%;
  background-color: #fff;
}

.modal.left.fade .modal-dialog {
  -webkit-transform: translate(-25%,0);
  transform: translate(-25%,0);
}
.modal.left.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
#modal-s .modal-dialog {
  max-width: 260px;
  margin: 0;
  height: 100%;
}
#modal-s .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}
#modal-s .modal-header {
  display: block;
  background-color: #343a40;
  border: none;
}
#modal-s .modal-title {
  display: inline-block;
}
#modal-s .modal-body {
  overflow-y: scroll;
  background-color: #343a40;
}

// body {
//   background-image: image-url("hoge.jpg");
//   }